<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyUrl</title>

    <!-- Libraries, stylesheets, client side js files -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="lib/jquery.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <input id="input-output" type="url" autocomplete="off" size="80">
    <button hidden id="copy-btn" onclick="copyToClipboard('#input-output')">Copy</button>
    <button id="shorten-btn" onclick="getShortUrl()">Shorten</button>
    
    <br><br>
    <!--This will be invisible first-->    
    <button hidden id="check-btn" onclick="goToUrl()">Check</button>
    <button hidden id="shorten-another-btn" onclick="window.location.reload()">Shorten Another</button>
</body>
</html>

